<p-toast></p-toast>
<div class="content">
  <div class="upper-div">
    <h1>Kupovine</h1>
    <div class="space-between-div">
      <div class="search-bar-div">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input type="search" pInputText (ngModelChange)="searchKupovine($event)" ngModel placeholder="Pretražite..."/>
        </span>
      </div>
    </div>
  </div>

  <div class="main-div">
    <p-table [value]="kupovine"
             [paginator]="true"
             [rows]="5"
             [showCurrentPageReport]="true"
             [rowsPerPageOptions]="[5, 10, 25, 50]"
             paginatorLocale="en-US">
      <ng-template pTemplate="header">
        <tr>
          <th>Datum</th>
          <th>Polisa</th>
          <th>Iznos</th>
          <th>Informacije</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-kupovina>
        <tr>
          <td>{{ kupovina.datumUplate | date: 'dd.MM.yyyy HH:mm' }}</td>
          <td>{{ kupovina.polisa?.tip }}</td>
          <td>{{ kupovina.iznos }} KM</td>
          <td>
            <p-button icon="pi pi-info-circle" [rounded]="true" [text]="true" severity="success " (click)="openPolisaInfoDialog(kupovina)"></p-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- Dijalog za INFO o polisi -->
<p-dialog header="Informacije" [(visible)]="showPolisaInfoDialog" [modal]="false" [style]="{ width: '500px'}" [draggable]="true" [resizable]="false">
    <div class="container">
        <div>
            <p><span class="labela">Tip:</span> &nbsp;&nbsp;&nbsp;&nbsp; <span class="intel">{{infoPolisa?.tip}}</span></p>
        </div>
        <div>
            <p><span class="labela">Opis:</span> &nbsp;&nbsp;&nbsp;&nbsp; <span class="intel">{{infoPolisa?.opis}}</span></p>
        </div>
        <div>
            <p><span class="labela">Cijena:</span> &nbsp;&nbsp;&nbsp;&nbsp; <span class="intel">{{infoPolisa?.cijena}}KM</span></p>
        </div>
        <div>
            <p><span class="labela">Aktivna:</span> &nbsp;&nbsp;&nbsp;&nbsp; 
              <span [style]="infoPolisa?.aktivna == true ? 'color: lime' : 'color: red'"
               class="intel">{{infoPolisa?.aktivna == true ? 'Da' : 'Ne'}}</span></p>
        </div>
        <br>
        <div class="addBtn">
            <p-button (onClick)="closePolisaInfoDialog()" class="submit-div" label="OK" severity="secondary"></p-button>
        </div>
    </div>
</p-dialog>
