.content {
    padding: 20px; 
}

.upper-div {
    margin-bottom: 20px; 
    box-sizing: border-box;
}

.space-between-div {
    display: flex; 
    justify-content: space-between;
}

.text-input {
    width: 100%;
    margin: 5px 0 20px 0; 
}

.submit-div {
    display: flex; 
    justify-content: flex-end;
    gap: 20px; 
}

.flex-end-div {
    display: flex; 
    justify-content: flex-end;
    gap: 10px; 
}
