.content {
    padding: 20px; 
    width: 500px; 
    background-color: #fff;
    border: 2px solid; 
    border-radius: 10px;
}

.text-input {
    width: 100%;
    margin: 5px 0 20px 0; 
}

.submit-div {
    display: flex; 
    justify-content: flex-end;
}

.space-between-div {
    display: flex; 
    justify-content: space-between;
}